<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Join Bus</title>
</head>
<body>

<h1>Join Bus</h1>
<h1>Do you want join somebody</h1>

{% if error %}
<h2>{{error}}</h2>
{% endif %}
<form method="post">
    {% csrf_token %}
    
    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <button type="submit">Join</button>
    <span>Do you want to register yourself -> <a href="{% url 'participant_create_me' bus.id  %}">Joim me</a></span>
</form>

</body>
</html>
